<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @scheduling.title %>
</p>

<p>
  <strong>Starts at:</strong>
  <%= @scheduling.starts_at %>
</p>

<p>
  <strong>Ends at:</strong>
  <%= @scheduling.ends_at %>
</p>

<%= link_to 'Back', schedulings_path %>
